# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\myrootfiles\FINKI\4. Semestar\Operativni sistemi\Labs, testovi etc\Labs\2. Lab\src\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
